<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "animal shelter app", '#', :id => "logo" %>
      <nav>
        <ul class="nav pull-right">
					<li><%= link_to "New Animal", new_animal_path %></li>
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Dogs", dog_path %></li>
					<li><%= link_to "Cats", cat_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>